* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  background-image: url("./background-img.jpeg");
}

#header {
  text-align: center;
  color: white;
}

#container {
  background-color: grey;
  margin: 20px auto;
  max-width: 800px;
  padding: 10px 5px;
  min-height: 200px;
  margin-right: 35px;
  margin-left: 35px;
}

input {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 9px;
  width: 100%;
}

button {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 10px;
  border-radius: 14px;
  color: white;
  background-color: red;
  border: none;
}

#output-div {
  margin: 10px auto;
  padding: 5px;
  width: 100%;
  padding: 5 5px;
}

#start {
  text-align: center;
}

#player-card img {
  height: 150px;
  width: 100px;
}

#dealer-card img {
  height: 150px;
  width: 100px;
}

button:hover {
  background-color: white;
  color: black;
  font-size: 21px;
  font-weight: bold;
}

#reset-button {
  display: flex;
  justify-content: center;
}

#diff-mode {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#player-mode {
  margin: 2px;
}

#admin-mode {
  margin: 2px;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
}

.password-input {
  width: 450px;
  margin: 10px;
}

.password-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.login-button {
  margin: 10px;
}

.showcard-div {
  display: flex;
  flex-direction: row;
}

#start {
  color: white;
}

.scoreBoard {
  color: white;
}

.recordScore {
  color: white;
}

#player-card {
  margin: 15px;
}

#dealer-card {
  margin: 15px;
}
